body {
    background-color: rgb(255, 255, 255);
}

#index {
    margin-top: 55px;
}

#posts {
    background-color: #dedede;
}

#menu {
    font-weight: 600;
}

#hello {
    text-align: center;
    margin-top: 40px;
}

#caixa {
	width: 970px;
	float: left;
}

#filter {
	margin-left: 50px;
}

#sms-login {
	color: #2b669a;
}

#abled {
    color: white;
    background-color: green;
    padding: 2px 5px;
	float: right;
}

#disabled {
    color: white;
    background-color: red;
    padding: 2px 5px;
    float: right;
}

#editbutton {
    text-decoration: none;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #dedede;
	color: #000000;
	text-align: center;
}
