body {
    background-color: rgb(255, 255, 255);
}

#index {
    background-color: rgb(135, 177, 255);
    margin-top: 75px;
}

#menu {
    background-color: rgb(173, 216, 255);
    font-weight: 600;
}