header{
    background-color: rgb(89, 119, 171);
    color: black;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 50; 
}

#menu{
    float: left;
    margin-left: 40px;
    list-style: none;
}

li{
    float: left;
    padding: 23px 20px 27px 20px;
}

li:hover{
    background-color: #b8d1ff;
}

li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

li:hover a{
    color: black;
}

h2 {
    text-align: center;
}

#table_container {
    text-align: center;
    background-color: rgb(181, 210, 255);
}

#footer {
    margin-top: 300px;
}

tr, th, td {
    padding: 20px 20px;
}

#action_table, #title_table {
    margin-top: 200px;
    text-align: center;
}

.forms_post{
    margin-top: 200px;
    margin-left: 20px;
}