html, body {
    margin: 0;
}

header{
    background-color: rgb(89, 119, 171);
    color: black;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 50; 
}

#titulo {
    position: absolute;
}

li{
    float: left;
    padding: 23px 20px 27px 20px;
}

li:hover{
    background-color: #BFA099;
}

li a{
    text-decoration: none;
    color: black;
}

li:hover a{
    color: black;
}